<div class="files-summary">
    <div class="files-grid">
        <div class="documents category file-card">
            <h3>FileCloud Summary</h3>
            <div class="file-card-summary">
                <p><%= totalSize %> B</p>
                <p class="file-amount"><%= totalFolders %> folders</p>
                <p class="file-amount"><%= totlalFiles %> files</p>
            </div>
        </div>
        <!-- <a href="/Images" class="images category file-card">
            <h3>Images</h3>
            <div class="file-card-summary">
                <p>1.4 MB</p>
                <p class="file-amount">10 files</p>
            </div>
        </a>
        <a href="/Videos" class="videos category file-card">
            <h3>Videos</h3>
            <div class="file-card-summary">
                <p>215.4 MB</p>
                <p class="file-amount">5 files</p>
            </div>
        </a>
        <a href="/Audios" class="audios category file-card">
            <h3>Audios</h3>
            <div class="file-card-summary">
                <p>215.4 MB</p>
                <p class="file-amount">5 files</p>
            </div>
        </a> -->
    </div>
    <div class="content-header">
        <h2>Recent Files</h2>
    </div>
</div>
