<div class="files-summary">
    <div class="files-grid">
        <a href="/Documents" class="documents category file-card">
            <h3>Documents</h3>
            <div class="file-card-summary">
                <p>2.4 MB</p>
                <p class="file-amount">4 files</p>
            </div>
        </a>
        <a href="/Images" class="images category file-card">
            <h3>Images</h3>
            <div class="file-card-summary">
                <p>1.4 MB</p>
                <p class="file-amount">10 files</p>
            </div>
        </a>
        <a href="/Videos" class="videos category file-card">
            <h3>Videos</h3>
            <div class="file-card-summary">
                <p>215.4 MB</p>
                <p class="file-amount">5 files</p>
            </div>
        </a>
        <a href="/Music" class="music category file-card">
            <h3>Music</h3>
            <div class="file-card-summary">
                <p>215.4 MB</p>
                <p class="file-amount">5 files</p>
            </div>
        </a>
    </div>
    <div class="content-header">
        <h2>Recent Files</h2>
    </div>
</div>
