h2,
.files-label {
    margin-bottom: var(--spacing-md);
}
.files {
    display: grid;
    gap: var(--spacing-md);
}
.file,
.files-label {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm);
    .name {
        font-weight: 300;
    }
    .file-summary {
        display: flex;
        gap: var(--spacing-md);
        color: var(--text-muted);
    }
}
.file {
    background-color: var(--bg-muted);
    cursor: pointer;
}
