h2,
.files-label {
    margin: var(--spacing-md) 0;
}
.files {
    display: grid;
    gap: var(--spacing-md);
}
.file,
.files-label {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm);
    .name {
        font-weight: 300;
    }
    .file-summary {
        display: flex;
        gap: var(--spacing-md);
        color: var(--text-muted);
    }
}
.file {
    background-color: var(--bg-muted);
    cursor: pointer;
    .name {
        font-weight: 200;
    }
}
.folders-container {
    display: grid;
    gap: var(--spacing-md);
}
.file-name,
.folder {
    display: flex;
    gap: var(--spacing-lg);
}
.folder {
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-color);
    padding: var(--spacing-sm);
    cursor: pointer;
}
